.task_details_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_details_container {
  z-index: 1000;
  position: absolute;
  height: 85vh;
  width: 50vw;
  background: white;
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  scrollbar-width: none;
}
.dialog-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.update-task {
  padding-top: 10px;
  padding-bottom: 5px;
}

.update-task-input {
  margin-inline: 10px;
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.update-task-input-select:hover {
  cursor: pointer;
}
.update-task-save-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-task-button {
  width: 90px;
  height: 35px;
  background-color: rgb(24, 141, 204);
  color: white;
  border-radius: 2.5px;
  border: solid 1px;
}
.save-task-button:hover {
  cursor: pointer;
}
