.create-task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-task-container {
  height: 50vh;
  width: 50vw;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.dialog-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.create-task-title,
.create-task-details,
.create-task-date {
  padding-top: 10px;
  padding-bottom: 5px;
}

.create-task-input {
  margin-inline: 10px;
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-task-input-select:hover {
  cursor: pointer;
}
.create-task-save-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-task-button {
  width: 90px;
  height: 35px;
  background-color: rgb(24, 141, 204);
  color: white;
  border-radius: 2.5px;
  border: solid 1px;
}
.save-task-button:hover {
  cursor: pointer;
}
