.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 0 40px;
}
.page-title {
  padding: 40px 0 0 40px;
}

.buttons {
  display: flex;
  align-items: end;
}

.new-button {
  width: 90px;
  height: 35px;
  background-color: #ffffff50;
  color: #F7797D;;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.new-button:hover {
  cursor: pointer;
}

.summary-button {
  width: 90px;
  height: 35px;
  background-color: #ffffff50;
  color: #F7797D;
  border: 1px solid #FFFFFF;
  border-radius: 4%;
  margin-right: 10px;
}
.summary-button:hover {
  cursor: pointer;
}