h2 {
    font-size: 16px;
    text-align: center;
}

.type-tag {
    font-size: 12px;
    margin-bottom: 6px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-bar:not(:last-child) {
    margin-bottom: 10px;
}

.outer-bar {
    width: 100%;
    height: 30px;
    position: relative;
    padding: 5px;
    border-color: #000000;
    border-radius: 20px;
    background-color: #FFFFFFC7;
}

.inner-bar {
    height: 20px;
    border-radius: 10px;
    transform-origin: left;
    animation: fillBar 1s ease-out forwards;
    transform: scaleX(0);
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}